/*  */

:root {
  --general-blue: #10467c;
  --accent-blue: #3077c6;
  --stroke-color-main: #f3f3f4;
  --text-color-main: #383838;
  --general-white: #ffffff;
  --secondary-text: #bfbfbf;
  --bg-color-main: #eaf0f9;
  --col-width: calc(100% / 12);
  --col-xs-width: calc(100% / 6);
}

.col-1 {
  width: var(--col-width);
}

.col-2 {
  width: calc(var(--col-width) * 2);
}

.col-3 {
  width: calc(var(--col-width) * 3);
}

.col-4 {
  width: calc(var(--col-width) * 4);
}

.col-5 {
  width: calc(var(--col-width) * 5);
}

.col-6 {
  width: calc(var(--col-width) * 6);
}

.col-7 {
  width: calc(var(--col-width) * 7);
}

.col-8 {
  width: calc(var(--col-width) * 8);
}

.col-9 {
  width: calc(var(--col-width) * 9);
}

.col-10 {
  width: calc(var(--col-width) * 10);
}

.col-11 {
  width: calc(var(--col-width) * 11);
}

.col-12 {
  width: calc(var(--col-width) * 12);
}

/* REUSABLE GRID */
.grid_2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

/* *************************** */
/* SMALL LAPTOPS (lg) */
@media (max-width: 1360px) {
  /* TOP-SECTION */

  /* FOOTER */
  .footer {
    height: auto;
    padding: 80px 100px;
    column-gap: 60px;
  }

  .footer__list_item {
    margin-bottom: 18px;
  }

  .footer__copyright {
    bottom: 40px;
  }
}

/* *************************** */
/* TABLET (LANDSCAPE) (md) */
@media (max-width: 1024px) {
  /* ADVANTAGES */
  .advantages {
    height: auto;
    padding-top: 60px;
  }

  .advantages__heading {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .advantages__items {
    margin-bottom: 60px;
  }

  .advantages__title {
    font-size: 18px;
  }

  /* HOMES */
  .homes {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .homes__heading {
    font-size: 36px;
    margin-bottom: 80px;
  }

  .homes__list_item {
    gap: 20px;
  }

  .homes__list_title,
  .homes__list_text {
    font-size: 20px;
  }

  .homes__list_item:nth-child(2) ~ .homes__list_item {
    display: none;
  }

  /* DESTINATIONS */
  .destinations {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .destinations__heading {
    font-size: 36px;
    margin-bottom: 80px;
  }

  .destinations__tabs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .destinations__list_item {
    gap: 20px;
  }

  .destinations__list_title {
    font-size: 20px;
  }

  .destinations__list_item:nth-child(2) ~ .destinations__list_item {
    display: none;
  }

  .destinations__list_slider-button {
    left: 100%;
    bottom: 40%;
  }

  .destinations__list_slider-button-arrow {
    transform: rotate(0deg);
  }

  /* REVIEWS */
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .reviews__heading {
    font-size: 36px;
    margin-bottom: 80px;
  }

  .reviews__list_item {
    height: inherit;
  }

  .reviews__list_item:nth-child(2) ~ .reviews__list_item {
    display: none;
  }

  .reviews__text-block {
    padding: 20px;
  }

  .reviews__hotel {
    margin-bottom: 20px;
  }

  .reviews__hotel-info,
  .reviews__hotel-info_rating,
  .reviews__review-author_info,
  .reviews__text-block_review {
    font-size: 17px;
  }

  .reviews__hotel-info,
  .reviews__hotel-score {
    gap: 10px;
  }

  .reviews__review-author {
    gap: 18px;
  }

  /* FOOTER */
  .footer {
    height: auto;
    padding: 60px 80px;
    column-gap: 35px;
    justify-content: space-between;
  }

  .footer__list {
    font-size: 17px;
  }

  .footer__list_item {
    margin-bottom: 16px;
  }
  f .footer__copyright {
    bottom: 30px;
  }
}

/* *************************** */
/* TABLET (PORTRAIT) (sm) */
@media (max-width: 768px) {
  /* TOP-SECTION */
  .top-section {
    height: inherit;
  }

  .nav-panel {
    height: 30px;
  }

  .nav-panel__logo {
    width: 153px;
  }

  .nav-panel__links {
    display: none;
  }

  #theme-switcher {
    width: 24px;
    height: 24px;
  }

  #account-avatar {
    width: 32px;
    height: 32px;
  }

  #hamburger-button {
    display: block;
    width: 32px;
    height: 24px;
  }

  .top-section__title {
    font-size: 38px;
    margin: 0 32px 30px;
  }

  .search {
    background-color: #f5bd41;
    margin: 0 32px 40px;
    padding: 8px;
    display: grid;
    gap: 8px;
  }

  .search__form_destination {
    grid-column: 1/3;
  }

  .search__form_living-option {
    grid-column: 1/3;
  }

  .search__form_date._check-out {
    display: block;
  }
  .search__button {
    grid-column: 1/3;
    font-size: 22px;
    line-height: 24px;
  }

  .search::after {
    display: none;
  }

  .search__label {
    display: none;
  }

  .search__input {
    background-color: var(--general-white);
    border-radius: 8px;
  }

  [class*="col-"] {
    width: 50%;
  }

  /* ADVANTAGES */
  .advantages {
    padding-top: 40px;
  }

  .advantages__heading {
    margin-bottom: 40px;
  }

  .advantages__items {
    margin-bottom: 40px;
    row-gap: 16px;
  }

  .advantages__item {
    height: 125px;
  }

  /* HOMES */
  .homes {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .homes__heading {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .homes__list_item {
    gap: 16px;
  }

  .homes__list_title,
  .homes__list_text {
    font-size: 16px;
  }

  /* DESTINATIONS */
  .destinations {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .destinations__heading {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .destinations__tabs {
    margin-bottom: 32px;
  }

  .destinations__tab {
    font-size: 20px;
  }

  .destinations__list_item {
    gap: 16px;
  }

  .destinations__list_title {
    font-size: 16px;
  }

  /* SIGN UP */
  .sign-up.container {
    display: none;
  }

  /* REVIEWS */
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .reviews__heading {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .reviews__hotel-info,
  .reviews__hotel-info_rating,
  .reviews__review-author_info,
  .reviews__text-block_review {
    font-size: 16px;
  }

  .reviews__review-author {
    gap: 16px;
  }

  /* APP */
  .app {
    display: flex;
  }

  /* FOOTER */
  .footer {
    height: auto;
    padding: 40px 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__list {
    font-size: 16px;
  }

  ._column {
    width: auto;
  }

  .footer__list_item {
    margin-bottom: 8px;
  }

  .footer__copyright {
    bottom: 20px;
  }
}

/* *************************** */
/* PHONES (xs) */
.col-xs-1 {
  width: var(--col-width);
}

.col-xs-2 {
  width: calc(var(--col-xs-width) * 2);
}

.col-xs-3 {
  width: calc(var(--col-xs-width) * 3);
}

.col-xs-4 {
  width: calc(var(--col-xs-width) * 4);
}

.col-xs-5 {
  width: calc(var(--col-xs-width) * 5);
}

.col-xs-6 {
  width: calc(var(--col-xs-width) * 6);
}

@media (max-width: 480px) {
  /* COMMON & REUSABLE COMPONENTS */
  .btn {
    width: 28px;
  }

  .btn-arrow {
    width: 7px;
    height: 11px;
  }

  /* TOP-SECTION */
  .top-section {
    padding-top: 0px;
  }

  .nav-panel {
    height: 48px;
    margin-bottom: 40px;
    align-items: center;
  }

  .nav-panel__logo {
    width: 122px;
    height: 24px;
  }

  .nav-panel__buttons {
    column-gap: 16px;
  }

  #theme-switcher {
    width: 16px;
    height: 16px;
  }

  #account-avatar {
    width: 24px;
    height: 24px;
  }

  #hamburger-button {
    display: block;
    width: 24px;
    height: 16px;
  }

  .top-section__title {
    font-size: 30px;
    line-height: 35.16px;
  }

  .search__input {
    font-size: 15px;
    line-height: 18px;
  }

  .search__button {
    font-size: 19px;
    line-height: 22px;
  }

  /* ADVANTAGES */
  [class*="col-xs"] {
    width: 100%;
  }

  .advantages {
    height: auto;
    padding-top: 24px;
  }

  .advantages__heading {
    font-size: 28px;
    margin-bottom: 32px;
  }

  h2.advantages__heading:after {
    display: none;
  }

  .advantages__items {
    row-gap: 32px;
    margin-bottom: 40px;
  }

  .advantages__item {
    height: 104px;
    row-gap: 16px;
  }

  .advantages__icon {
    width: 70px;
    height: 70px;
  }

  .advantages__title {
    font-size: 15px;
  }

  /* HOMES */
  .homes {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .homes__heading {
    margin-bottom: 32px;
  }

  .homes__heading {
    font-size: 28px;
  }

  .homes__list_item {
    gap: 8px;
  }

  .homes__list_title,
  .homes__list_text {
    font-size: 12px;
  }

  /* DESTINATIONS */
  .destinations {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .destinations__heading {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .destinations__tabs {
    font-size: 18px;
    height: inherit;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .destinations__tabs::after {
    display: none;
  }

  .destinations__tab.active {
    box-shadow: inset 0 0 0 1px var(--accent-blue);
  }

  .destinations__tab {
    padding: 5px 0;
    background-color: var(--general-white);
    box-shadow: inset 0 0 0 1px var(--stroke-color-main);
    border-radius: 4px;
  }

  .destinations__list_item {
    gap: 8px;
  }

  .destinations__list_title {
    font-size: 12px;
  }

  .destinations__list_slider-button {
    width: 28px;
  }

  .destinations__list_slider-button-arrow {
    width: 7px;
    height: 11px;
  }

  /* REVIEWS */
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--bg-color-main);
  }

  .reviews__heading {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .reviews__list_item {
    background-color: transparent;
  }

  .reviews__list_item:nth-child(1) ~ .reviews__list_item {
    display: none;
  }

  .reviews__image-block_text {
    display: none;
  }

  .reviews__text-block {
    padding: 12px 0 32px;
  }

  .reviews__hotel {
    margin-bottom: 12px;
  }

  .reviews__hotel-info,
  .reviews__hotel-info_rating,
  .reviews__review-author_info,
  .reviews__text-block_review {
    font-size: 15px;
    line-height: 18px;
  }

  .reviews__hotel-info,
  .reviews__hotel-score {
    gap: 8px;
  }

  .reviews__hotel-info_reviews-number {
    font-size: 12px;
  }

  .reviews__review-author {
    max-height: 53px;
    gap: 12px;
  }

  .reviews__review-author_avatar-block {
    width: 43px;
  }

  .reviews__review-author_info {
    gap: 4px;
  }

  .reviews__list_slider-button {
    display: none;
  }

  .reviews__navigation {
    display: flex;
  }

  /* APP */
  .app__close-button {
    width: 16px;
    height: 16px;
  }

  .app__logo-block {
    width: 58px;
    height: 58px;
  }

  .app__text,
  .app__button {
    font-size: 12px;
    line-height: 14.06px;
  }

  /* FOOTER */
  .footer {
    height: 203px;
    padding: 100px 68px 86px;
    column-gap: 16px;
    align-items: flex-start;
    justify-content: center;
  }

  .footer__logo {
    width: 98px;
    height: 19px;
    fill: var(--general-white);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
  }

  .footer__list_item {
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
  }

  .footer__list li:first-child ~ .footer__list_item {
    display: none;
  }

  .footer__copyright {
    font-size: 12px;
    bottom: 40px;
  }
}
