/*  */

:root {
  --general-white: #ffffff;
  --col-width: calc(100% / 12);
  --col-xs-width: calc(100% / 6);
}

.col-1 {
  width: var(--col-width);
}

.col-2 {
  width: calc(var(--col-width) * 2);
}

.col-3 {
  width: calc(var(--col-width) * 3);
}

.col-4 {
  width: calc(var(--col-width) * 4);
}

.col-5 {
  width: calc(var(--col-width) * 5);
}

.col-6 {
  width: calc(var(--col-width) * 6);
}

.col-7 {
  width: calc(var(--col-width) * 7);
}

.col-8 {
  width: calc(var(--col-width) * 8);
}

.col-9 {
  width: calc(var(--col-width) * 9);
}

.col-10 {
  width: calc(var(--col-width) * 10);
}

.col-11 {
  width: calc(var(--col-width) * 11);
}

.col-12 {
  width: calc(var(--col-width) * 12);
}

/* REUSABLE GRID */
.grid_2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

/* *************************** */
/* SMALL LAPTOPS (lg) */
@media (max-width: 1360px) {
  /* TOP-SECTION */

  /* FOOTER */
  .footer {
    height: auto;
    padding: 80px 100px;
    column-gap: 60px
  }

  .footer__list_item {
    margin-bottom: 18px;
  }

  .footer__copyright {
    bottom: 40px;
  }
}

/* *************************** */
/* TABLET (LANDSCAPE) (md) */
@media (max-width: 1024px) {
  /* ADVANTAGES */
  .advantages {
    height: auto;
    padding-top: 60px;
  }

  .advantages__heading {
    font-size: 32px;
    margin-bottom: 60px;
  }   

  .advantages__items {
    margin-bottom: 60px;
  }

  .advantages__title {
    font-size: 18px;
  }

  /* HOMES */
  .homes {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .homes__heading{
    font-size: 36px;
    margin-bottom: 80px;
  }

  .homes__list_item {
    gap: 20px;
  }

  .homes__list_title, .homes__list_text {
    font-size: 20px;
  }

  .homes__list_item:nth-child(2) ~ .homes__list_item {
    display: none;
  }
  
  /* FOOTER */
  .footer {
    height: auto;
    padding: 60px 80px;
    column-gap: 35px;
    justify-content: space-between;
  }

  .footer__list {
    font-size: 17px;
  }

  .footer__list_item {
    margin-bottom: 16px;
  }f

  .footer__copyright {
    bottom: 30px;
  }
}

/* *************************** */
/* TABLET (PORTRAIT) (sm) */
@media (max-width: 768px) {
/* TOP-SECTION */
.top-section {
  height: inherit;
}

.nav__panel {
  height: 30px;
}

.nav__panel_logo {
  width: 153px;
}

.nav__panel_links {
  display: none;
}

#theme-switcher {
  width: 24px;
  height: 24px; 
}

#account-avatar {
  width: 32px;
  height: 32px;
}

#hamburger-button  {
  display: block;
  width: 32px;
  height: 24px;
}

.top-section__title {
  font-size: 38px;
  margin: 0 32px 30px;
}

 .search {
  background-color: #F5BD41;
  margin: 0 32px 40px;
  padding: 8px;
  display: grid;
  gap: 8px;
 }

 .search__form_destination {
  grid-column: 1/3;
 }

 .search__form_living-option {
  grid-column: 1/3;
 }

 .search__form_date._check-out {
  display: block;
}
 .search__button {
  grid-column: 1/3;
 }

 .search::after {
   display: none;
 }

 .search__label {
  display: none;
 }

 .search__input {
  background-color: var(--general-white);
  border-radius: 8px;
 }

[class*="col-"] {
    width: 50%;
  }

  /* ADVANTAGES */
  .advantages {
    padding-top: 40px;
  }

  .advantages__heading {
    margin-bottom: 40px;
  }   

  .advantages__items {
    margin-bottom: 40px;
    row-gap: 16px;
  }

  .advantages__item {
    height: 125px;
  }

   /* HOMES */
  .homes {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .homes__heading {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .homes__list_item {
    gap: 16px;
  }

  .homes__list_title, .homes__list_text {
    font-size: 16px;
  }

  /* FOOTER */
  .footer {
    height: auto;
    padding: 40px 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .footer__list {
    font-size: 16px;
  }

  ._column {
    width: auto;
  }

  .footer__list_item {
    margin-bottom: 8px;
  }

  .footer__copyright {
    bottom: 20px;
  }
}

/* *************************** */
/* PHONES (xs) */
.col-xs-1 {
  width: var(--col-width);
}

.col-xs-2 {
  width: calc(var(--col-xs-width) * 2);
}

.col-xs-3 {
  width: calc(var(--col-xs-width) * 3);
}

.col-xs-4 {
  width: calc(var(--col-xs-width) * 4);
}

.col-xs-5 {
  width: calc(var(--col-xs-width) * 5);
}

.col-xs-6 {
  width: calc(var(--col-xs-width) * 6);
}

@media (max-width: 480px) {
  /* TOP-SECTION */
  .top-section {
    padding-top: 0px;
  }

  .nav__panel {
    height: 48px;
    margin-bottom: 40px;
    align-items: center;
  }

  .nav__panel_logo {
    width: 122px;
    height: 24px;
  }

  .nav__panel_buttons {
    column-gap: 16px;
  }

  #theme-switcher {
    width: 16px;
    height: 16px;
  }
  
  #account-avatar {
    width: 24px;
    height: 24px;
  }
  
  #hamburger-button  {
    display: block;
    width: 24px;
    height: 16px;
  }
  .top-section__title {
    font-size: 30px;
    line-height: 35.16px;
  }
 

  [class*="col-xs"] {
    width: 100%;
  }

  /* ADVANTAGES */
  .advantages {
    height: auto;
    padding-top: 24px;
  }

  .advantages__heading {
    font-size: 28px;
    margin-bottom: 32px;
}

  h2.advantages__heading:after {
    display: none;
  }

  .advantages__items {
    row-gap: 32px;
    margin-bottom: 40px;
  }
  
  .advantages__item {
    height: 104px;
    row-gap: 16px;
  }

  .advantages__icon {
    width: 70px;
    height: 70px;
  }

  .advantages__title {
    font-size: 15px;
  }

  /* HOMES */
  .homes {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .homes__heading {
    margin-bottom: 32px;
  }

  .homes__heading {
    font-size: 28px;
  }

  .homes__list_item {
    gap: 8px;
  }

  .homes__list_title, .homes__list_text {
    font-size: 12px;
  }

  .homes__list_slider-button {
    width: 28px;
  }

  .homes__list_slider-button-arrow-right {
    width: 7px;
    height: 11px;
  }

  /* FOOTER */
  .footer {
    height: 203px;
    padding: 100px 68px 86px;
    column-gap: 16px;
    align-items: flex-start;
    justify-content: center;
  }

  .footer__logo {
    fill: var(--general-white);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
  }

  .footer__list_item {
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
  }

  .footer__list li:first-child ~ .footer__list_item {
    display: none;
  }

  .footer__copyright {
    font-size: 12px;
    bottom: 40px;
  }
}