@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.advantages {
  background-color: #ffffff;
  max-width: 1440px;
  height: 569px;
  margin: 0 auto;
}

.advantages__heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #383838;
  margin: 120px auto 104px;
}

.advantages__heading:after {
  display: block;
  content: "";
  margin: 20px auto 0px;
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
}

.advantages__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px 104px;
}

.advantages__item {
  display: flex;
  width: 296px;
  height: 176px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__item--icon {
  align-self: auto;
}

.advantages__item--title {
  font-size: 24px;
  font-weight: 400;
}

.footer {
  max-width: 1440px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  background-color: #10367C;
  color: #ffffff;
  padding: 120px 272px 0 104px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  column-gap: 223px;
}

.footer__list {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

li:first-child {
  font-weight: 500;
}

.footer__list--item {
  margin-bottom: 24px;
}

.footer__copyright {
  position: absolute;
  bottom: 120px;
  font-size: 14px;
  font-weight: 400;
}