@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #383838;
  margin: 0 auto 104px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.svg-sprite { 
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  }

.top-section {
  min-height: 100vh;
  padding-top: 51px;
  background-image: url(../images/top-section_background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__panel {
  height: 40px;
  margin-bottom: 196px;
  display: flex;
  justify-content: space-between;
}

.nav__panel--logo {
  width: 205px;
  height: inherit;
  background-image: url(../images/top-section__image-sprite.png);
  background-size: cover;
}

.nav__panel--items {
  color: #ffffff;
  display: flex;
  column-gap: 48px;
}

.nav__panel--links, .nav__panel--buttons {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.nav__panel--link {
  font-size: 24px;
  position: relative;
}

.nav__panel--link:hover {
  cursor: pointer;
}

.nav__panel--link:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 90%;
  height: 4px;
  background-color: #F5BD41;
  left: 50%;
  transform: translateX(-50%);
  bottom: -45%;
  }

#theme-switcher {
  width: 30px;
  height: 30px; 
  fill: #ffffff;
}

#account-avatar {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

#hamburger-button {
  display: none;
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.top-section__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  margin: 0 104px 100px;
  max-width: 542px;
}

.search__form {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 120px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.search__form::after {
  position: absolute;
  display: block;
  width: 90%;
  height: 64px;
  content: "";
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #F3F3F4;
  border-radius: 8px;
  z-index: -1;
}

.search__form--title {
  padding: 0 0 24px 24px;
}

.search__form--input-field {
  max-height: 64px;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 22px 0 21px 24px;
}

.search__form--destination, .search__form--date {
  display: flex;
  flex-direction: column;
}

.search__form--destination {
  flex-basis: 467px;
}

.search__form--date {
  flex-basis: 259px;
}

.search__form--date._check-out {
  display: none;
}

.search__form--living-option {
  flex-basis: 314px;
}

.search__form--input-field:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #F5BD41;
  border-radius: 8px;
 }

.search__form--button {
  flex-basis: 192px;
  height: 64px;
  background-color: #3077C6;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.top-section__download {
  margin: 0 auto 40px;
  min-height: 40px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.top-section__download--google-play {
  width: 135px;
  background-image: url(../images/top-section__image-sprite.png);
  background-size: cover;
  background-position: -205px 0;
}

.top-section__download--app-store {
  width: 120px;
  background-image: url(../images/top-section__image-sprite.png);
  background-size: cover;
  background-position: -340px 0;
}

.advantages {
  background-color: #ffffff;
  height: 569px;
  margin: 0 auto;
  padding-top: 120px;
}

.svg-sprite { 
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  }

.advantages__heading {
  position: relative;
}

h2.advantages__heading:after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  transform: translateX(-50px);
  bottom: -20px;
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
}

.advantages__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  height: 176px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__item--icon {
  fill: #3077C6;
}

#support {
  max-width: 76px; 
  max-height: 92px;
}

#communication {
  max-width: 84px; 
  max-height: 84px;
}

#booking {
  max-width: 100px; 
  max-height: 68px;
}

#reviews {
  max-width: 92px; 
  max-height: 84px;
}

.advantages__item--title {
  font-size: 24px;
}

/* HOMES */
.wrapper._homes {
  background-color: #EAF0F9;
}

.homes {
  max-width: 1440px;
  max-height: 828px;
  height: inherit;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.homes__list {
  width: fit-content;
  max-width: calc(1232px + 32px);
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  column-gap: 16px;
  list-style: none;
  position: relative;
}

.homes__list--item {
  max-height: 435px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
}

.homes__list--image-block {
  width: 100%;
  max-width: 296px;
  aspect-ratio: 1/1;
}

.homes__list--image {
  object-fit: scale-down;
}

.homes__list--title {
  font-size: 24px;
  color: #3077C6;
}

.homes__list--text {
  font-size: 24px;
  color: #BFBFBF;
}

.homes__list--slider-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  right: 16px;
  width: 40px;
  aspect-ratio: 1/1;
  transform: translateX(50%);
  background-color: #F3F3F4;
  border-radius: 50%;
  box-shadow: 3px 4px 5px #666666;
}

.homes__list--slider-button-arrow-right {
  width: 9px;
  height: 21px;
  stroke: #383838; 
  stroke-width: 2;
}

/* FOOTER */
.wrapper._footer {
  background-color: #10367C;
}

.footer {
  max-width: 1440px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  padding: 120px 272px 0 104px;
  display: flex;
  column-gap: 184px;
}

.footer--logo {
  display: none;
}

._column {
  width: 33.33%;
}

.footer__list {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

.footer__list li:first-child {
  font-weight: 500;
}

.footer__list--item {
  margin-bottom: 24px;
}

.footer__copyright {
  position: absolute;
  bottom: 120px;
  font-size: 14px;
  font-weight: 400;
}