@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background-image: url(../images/header_background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__panel {
  max-width: 1232px;
  padding-top: 51px;
  margin: 0 104px 196px;
  display: flex;
  justify-content: space-between;
}

.nav__panel--logo {
  width: 205px;
  height: 40px;
  background-image: url(../images/header_sprite.png);
  background-size: 530px 40px;;
}

.nav__panel--items {
  color: #ffffff;
  display: flex;
  column-gap: 48px;
}

.nav__panel--links, .nav__panel--buttons {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.nav__panel--link {
  position: relative;
}

._active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #F5BD41;
  bottom: -14px;
  }

  .nav__panel--day-night-switcher {
    width: 30px;
    height: 30px;
    background-image: url(../images/header_sprite.png);
    background-size: 530px 40px;
    background-position: -205px -5px;
  }

  .nav__panel--account-avatar {
    width:40px;
    height: 40px;
    background-image: url(../images/header_sprite.png);
    background-size: 530px 40px;
    background-position: -235px 0px;
  }

.header__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  margin: 0 104px 100px;
  max-width: 542px;
}

.search__form {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  max-width: 1232px;
  margin: 0 104px 120px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.search__form::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 64px;
  content: "";
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #F3F3F4;
  border-radius: 8px;
  z-index: -1;
}

.search__form--title {
  padding: 0 0 24px 24px;
}

.search__form--input-field {
  max-height: 64px;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 22px 0 21px 24px;
}

.search__form--destination, .search__form--date {
  display: flex;
  flex-direction: column;
}

.search__form--destination {
  flex-basis: 467px;
}

.search__form--date {
  flex-basis: 259px;
}

.search__form--living-option {
  flex-basis: 314px;
}

._chosed {
  box-shadow: inset 0 0 0 3px #F5BD41;
  border-radius: 8px;
 }

.search__form--button {
  flex-basis: 192px;
  height: 64px;
  background-color: #3077C6;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.header__download {
  margin: 0 auto;
  height: 40px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.header__download--google-play {
  width: 135px;
  height: inherit;
  background-image: url(../images/header_sprite.png);
  background-size: 530px 40px;
  background-position: -275px 0px;
}

.header__download--app-store {
  width: 120px;
  height: inherit;
  background-image: url(../images/header_sprite.png);
  background-size: 530px 40px;
  background-position: -410px 0px;
}

.advantages {
  background-color: #ffffff;
  max-width: 1440px;
  height: 569px;
  margin: 0 auto;
}

.advantages__heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #383838;
  margin: 120px auto 104px;
}

.advantages__heading:after {
  display: block;
  content: "";
  margin: 20px auto 0px;
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
}

.advantages__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px 104px;
}

.advantages__item {
  display: flex;
  width: 296px;
  height: 176px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__item--icon {
  align-self: auto;
}

.advantages__item--title {
  font-size: 24px;
  font-weight: 400;
}

.wrapper {
  background-color: #10367C;
}

.footer {
  max-width: 1440px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  padding: 120px 272px 0 104px;
  display: flex;
  column-gap: 184px;
}

._column {
  width: 33.33%;
}

.footer__list {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

.footer__list li:first-child {
  font-weight: 500;
}

.footer__list--item {
  margin-bottom: 24px;
}

.footer__copyright {
  position: absolute;
  bottom: 120px;
  font-size: 14px;
  font-weight: 400;
}