@import url(./fonts.css);

:root {
  --general-blue: #10467c;
  --accent-blue: #3077c6;
  --accent-yellow: #f5bd41;
  --stroke-color-main: #f3f3f4;
  --text-color-main: #383838;
  --general-white: #ffffff;
  --secondary-text: #bfbfbf;
  --bg-color-main: #eaf0f9;
}

/* GENERAL AND REUSABLE COMPONENTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
  color: var(--text-color-main);
  margin: 0 auto 104px;
}

span {
  font-weight: 500;
}

.container {
  max-width: calc(1232px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  fill: none;
  transform: translateX(50%);
  background-color: var(--stroke-color-main);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-arrow {
  width: 9px;
  height: 21px;
  stroke: var(--text-color-main);
  stroke-width: 2;
  transition: all 0.4s;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover .btn-arrow {
  stroke: var(--accent-blue);
  stroke-width: 4;
}

/* SECTIONS */
.top-section {
  min-height: 100vh;
  padding: 51px 0 120px;
  background-image: url(../images/top-section_background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 196px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--big {
  max-width: 205px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.logo__header svg {
  fill: var(--accent-blue);
  transition: fill 0.3s;
}

.logo__header svg:hover {
  fill: var(--general-blue);
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.navigation__item--edge {
  margin-right: 24px;
}

.navigation__link {
  display: inline-block;
  font-size: 24px;
  position: relative;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: var(--general-white);
}

.navigation__link--link:active {
  color: var(--accent-yellow);
}

.navigation__link--link::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--accent-yellow);
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
  bottom: -45%;
}

.navigation__link--link:hover::after {
  width: 90%;
}

.navigation__link--button {
  background-color: transparent;
  border: none;
  transition: filter 0.3s;
}

.navigation__link--button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

#theme-switcher {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

#account-avatar {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

#hamburger-button {
  display: none;
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-screen__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  margin: 0 0 100px;
  max-width: 542px;
}

.search {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 120px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.search::after {
  position: absolute;
  display: block;
  width: 90%;
  height: 64px;
  content: "";
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #f3f3f4;
  border-radius: 8px;
  z-index: -1;
}

.search__label {
  padding: 0 0 24px 24px;
}

.search__input {
  max-height: 64px;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 22px 0 21px 24px;
  transition: all 0.3s;
}

.search__form--destination,
.search__form--date {
  display: flex;
  flex-direction: column;
}

.search__form--destination {
  flex-basis: 467px;
}

.search__form--date {
  flex-basis: 259px;
}

.search__form--date._check-out {
  display: none;
}

.search__form--living-option {
  flex-basis: 314px;
}

.search__input:focus,
.search__button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px var(--accent-yellow);
  border-radius: 8px;
}

.search__button {
  flex-basis: 192px;
  height: 64px;
  background-color: #3077c6;
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s;
}

.download {
  margin: 0 auto;
  min-height: 40px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.download__google-play {
  width: 135px;
  background-image: url(../images/top-section__image-sprite.png);
  background-size: cover;
  background-position: -205px 0;
}

.download__app-store {
  width: 120px;
  background-image: url(../images/top-section__image-sprite.png);
  background-size: cover;
  background-position: -340px 0;
}

.advantages {
  background-color: #ffffff;
  height: 569px;
  margin: 0 auto;
  padding-top: 120px;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.advantages__heading {
  position: relative;
}

h2.advantages__heading:after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  transform: translateX(-50px);
  bottom: -20px;
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
}

.advantages__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  height: 176px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__icon {
  fill: #3077c6;
}

#support {
  max-width: 76px;
  max-height: 92px;
}

#communication {
  max-width: 84px;
  max-height: 84px;
}

#booking {
  max-width: 100px;
  max-height: 68px;
}

#reviews {
  max-width: 92px;
  max-height: 84px;
}

.advantages__title {
  font-size: 24px;
}

/* HOMES */
.wrapper__homes {
  background-color: #eaf0f9;
}

.homes {
  max-width: 1440px;
  max-height: 828px;
  height: inherit;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.homes__list {
  width: fit-content;
  max-width: calc(1232px + 32px);
  height: fit-content;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  column-gap: 16px;
  list-style: none;
  position: relative;
}

.homes__list_item {
  height: 100%;
  max-height: 435px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
}

.homes__list_image {
  width: 100%;
  max-width: 296px;
  aspect-ratio: 1/1;
}

.homes__list_title {
  font-size: 24px;
  color: var(--accent-blue);
}

.homes__list_text {
  font-size: 24px;
  color: var(--secondary-text);
}

.homes__list_slider-btn {
  top: 30%;
  right: 16px;
}

/* DESTINATIONS */
.destinations {
  height: inherit;
  padding-top: 120px;
  padding-bottom: 208px;
  margin: 0 auto;
}

.destinations__heading {
  position: relative;
}

.destinations__heading::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 0;
  height: 4px;
  transition: width 0.3s ease-in-out;
  background-color: var(--accent-yellow);
}

.destinations__heading:hover::after {
  width: 100px;
}

.destinations__tabs {
  max-width: 622px;
  height: 64px;
  margin-bottom: 65px;
  display: flex;
  position: relative;
  z-index: 10;
}

.destinations__tab_regions {
  flex-basis: 192px;
}

.destinations__tab_cities {
  flex-basis: 192px;
}

.destinations__tab_poi {
  flex-basis: 238px;
}

.destinations__tabs::after {
  position: absolute;
  display: block;
  width: 100%;
  height: inherit;
  content: "";
  background-color: var(--stroke-color-main);
  border-radius: 8px;
  z-index: -1;
}

.destinations__tab {
  background-color: var(--stroke-color-main);
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  padding: 17px 0;
  border-radius: 8px;
  transition: box-shadow 0.4s;
}

.destinations__tab:link,
.destinations__tab:visited {
  color: var(--text-color-main);
}

.destinations__tab:hover {
  box-shadow: inset 0 0 0 3px var(--accent-blue);
}

.destinations__tab._active,
.destinations__tab:active {
  background-color: var(--accent-blue);
  color: var(--general-white);
  transition: filter 0.4s;
}

.destinations__tab._active:hover {
  filter: brightness(0.85);
}

.destinations__list {
  max-width: 1264px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  column-gap: 16px;
  list-style: none;
  position: relative;
}

.destinations__list_item {
  height: 100%;
  max-height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destinations__image-block {
  max-width: 296px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

.destinations__image-block::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.4);
  z-index: 20;
  opacity: 0;
  transition: opacity 0.5s;
}

.destinations__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 50;
  opacity: 0;
  transition: all 0.5s;
}

.destinations__list_item:hover .destinations__image-block::after,
.destinations__list_item:hover .destinations__link {
  opacity: 1;
}

.destinations__link:hover {
  background-color: var(--accent-blue);
  color: var(--general-white);
}

.destinations__list_image {
  object-fit: cover;
  width: 100%;
}

.destinations__link {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--accent-blue);
  background-color: var(--general-white);
  padding: 12px 24px;
  border: 1px solid var(--accent-blue);
  border-radius: 8px;
}

.destinations__list_title {
  font-size: 24px;
  color: var(--accent-blue);
}

.destinations__list_slider-button {
  left: 50%;
  bottom: -32%;
  transform: translate(-50%, -50%);
}

.destinations__list_slider-button-arrow {
  transform: rotate(90deg);
}

.destinations__list_slider-button-arrow:hover {
  stroke: var(--accent-blue);
  stroke-width: 4;
}

/* SIGN-UP */
.sign-up.container {
  position: relative;
  background-color: var(--bg-color-main);
  max-width: 1232px;
  height: inherit;
  max-height: 200px;
  padding: 51px 24px;
  display: flex;
  gap: 24px;
}

.sign-up__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 86px;
  aspect-ratio: 1/1;
  align-self: center;
  background-color: var(--general-white);
  border-radius: 50%;
}

.sign-up__icon_svg {
  width: 50px;
  height: 45px;
  fill: var(--accent-blue);
}

.sign-up__text-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.sign-up__text {
  font-size: 24px;
  font-weight: 500;
}

.sign-up__button {
  font-size: 18px;
  color: var(--accent-blue);
  background-color: var(--general-white);
  padding: 12px 32px;
  border: 1px solid var(--accent-blue);
  border-radius: 8px;
  transition: all 0.4s;
}

.sign-up__button:hover {
  color: var(--general-white);
  background-color: var(--accent-blue);
  cursor: pointer;
}

.sign-up__close-button {
  width: 26px;
  height: 26px;
  fill: var(--secondary-text);
  position: absolute;
  top: 24px;
  right: 24px;
  transition: all 0.7s;
}

.sign-up__close-button:hover {
  fill: var(--accent-blue);
  cursor: pointer;
}

/* REVIEWS */
.reviews {
  height: inherit;
  padding: 120px 0;
  margin: 0 auto;
}

.reviews__heading {
  position: relative;
}

h2.reviews__heading::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 0;
  height: 4px;
  transition: width 0.3s ease-in-out;
  background-color: var(--accent-yellow);
}

.reviews__heading:hover::after {
  width: 100px;
}

.reviews__list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.reviews__list_item {
  width: fit-content;
  max-width: 400px;
  height: 760px;
  list-style: none;
  background-color: var(--bg-color-main);
}

.reviews__image-block {
  max-height: 400px;
  position: relative;
}

.reviews__list_image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.reviews__image-block_text {
  position: absolute;
  bottom: 0;
  color: var(--general-white);
  display: block;
  width: 100%;
  height: 48px;
  padding: 16px 0 11px 24px;
  background-color: rgba(56, 56, 56, 0.7);
}

.reviews__text-block {
  padding: 24px;
}

.reviews__hotel {
  max-height: 58px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.reviews__hotel-info,
.reviews__hotel-score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__hotel-info {
  color: var(--accent-blue);
}

.reviews__hotel-info_name {
  font-size: 18px;
  font-weight: 500;
}

.reviews__hotel-info_location {
  font-size: 18px;
}

.reviews__hotel-score {
  align-items: flex-end;
  gap: 12px;
}

.reviews__hotel-info_rating {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: var(--general-white);
  padding: 4px 11px;
  background-color: var(--general-blue);
  border-radius: 8px;
}

.reviews__hotel-info_reviews-number {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text);
}

.reviews__review-author {
  display: flex;
  align-items: center;
  gap: 21px;
  max-height: 64px;
  margin-bottom: 17px;
}

.reviews__review-author_avatar-block {
  max-width: 54px;
  width: 100%;
  aspect-ratio: 1/1;
  fill: var(--secondary-text);
}

.reviews__review-author_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  line-height: 21px;
}

.reviews__review-author_name {
  color: var(--text-color-main);
}

.reviews__review-author_location {
  color: var(--secondary-text);
}

.reviews__text-block_review {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-main);
}

.reviews__list_slider-button {
  top: 23%;
  right: 0;
}

.reviews__list_slider-button-arrow:hover {
  stroke: var(--accent-blue);
  stroke-width: 4;
}

.reviews__navigation {
  display: none;
  gap: 8px;
  height: 8px;
  justify-content: center;
}

.reviews__navigation_dot {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__navigation_dot-fill {
  background-color: #333333;
}

/* APP */
.app {
  max-height: 106px;
  height: fit-content;
  padding: 24px 17px;
  display: none;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.app__close-button {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text);
}

.app__logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-blue);
  width: 72px;
  height: 72px;
  padding: 0 2px;
  border-radius: 4px;
}

.app__logo-block_svg {
  width: 54px;
  height: 12px;
  fill: var(--general-white);
}

.app__text,
.app__button {
  font-size: 16px;
}

.app__button {
  font-weight: 500;
  color: var(--accent-blue);
  cursor: pointer;
}

/* FOOTER */
.wrapper._footer {
  background-color: #10367c;
}

.footer {
  max-width: 1440px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  padding: 120px 272px 0 104px;
  display: flex;
  column-gap: 184px;
}

.footer__logo {
  display: none;
}

._column {
  width: 33.33%;
}

.footer__list {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

.footer__list li:first-child {
  font-weight: 500;
}

.footer__list_item {
  margin-bottom: 24px;
}

.footer__copyright {
  position: absolute;
  bottom: 120px;
  font-size: 14px;
  font-weight: 400;
}
